<footer class="site-footer">
    <p>
        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        {% endif %}
    </p>
    <p>
        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
    </p>
    
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>