<header style="margin-bottom: 100px">
    {% if site.title %}
    <h1>{{ site.title }}</h1>
    <h3>A(nother) blog about geoscience</h3>

    <img src="/assets/picture-sconten.jpg" />

    {% endif %}
    <p>{{ site.description }}</p>

    <h2><a href="{{ site.url }}">Home</a></h2>
    <h2><a href="{{ site.url }}">About</a></h2>
    <h2><a href="{{ site.url }}">Archive</a></h2>

    <p></p>
    <p>
        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        {% endif %}
    </p>
    <p>
        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
    </p>
    
    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</header>